# Python virtual environment
venv/

# IDE/editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.swp
*.bak
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class